<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add/Edit/View cities</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
</head>
<body>

<!-- ДОБАВЛЕНИЕ ДАННЫХ -->
<form id="add-form" th:action="@{/city/save}" th:if="${city == null}" method="post" action="city.html">
    <p><strong>Add new city:</strong></p>

    <div class="row">
        <label for="id-input">City name Russian:</label>
        <input id="id-input" name="id" type="text" required="required" maxlength="6"/>
    </div>

    <div class="row">
        <label for="ruName-input">City name Russian:</label>
        <input id="ruName-input" name="ruName" type="text" required="required" maxlength="120"/>
    </div>

    <div class="row">
        <label for="enName-input">City name English:</label>
        <input id="enName-input" name="enName" type="text" required="required" maxlength="50" />
    </div>

    <div class="row">
        <label for="code-input">Region code:</label>
        <input id="code-input" name="code" type=number required="required" maxlength="4" th:min="1" th:max="777" />
    </div>

    <div class="row">
        <label for="population-input">Population:</label>
        <input id="population-input" name="population" type=number required="required" maxlength="15" />
    </div>

    <div class="row">
        <a th:href="@{/cities}" href="cities.html"><img alt="Back" th:src="@{/images/back.png}"/></a>
        <button id="save" type="submit">Save</button>
    </div>
</form>

<!-- НИЖЕ РЕДАКТИРОВАНИЕ ДАННЫХ -->
<form id="edit-form" th:action="@{/city/save(id=${city.id})}" th:unless="${city == null}" method="post"
      action="city.html" th:object="${city}">
    <p><strong>City Info:</strong></p>

    <div class="row">
        <label for="id-input">City ID:</label>
        <input id="id-input" type="text" th:value="*{id}" readonly="readonly" value="1"/>
    </div>

    <div class="row">
        <label for="ruName-input">City name rus:</label>
        <input id="ruName-input" name="ruName" type="text" th:value="*{ruName}" required="required" maxlength="120" value="City name Russian"/>
    </div>

    <div class="row">
        <label for="enName-input">City name eng:</label>
        <input id="enName-input" name="enName" type="text" th:value="*{enName}" required="required" maxlength="120" value="City name English"/>
    </div>

    <div class="row">
        <label for="code-input">City code:</label>
        <input id="code-input" name="code" type=number th:value="*{code}" required="required" th:min="1" th:max="777" value="City code"/>
    </div>

    <div class="row">
        <label for="population-input">Population:</label>
        <input id="population-input" name="population" type=number th:value="*{population}" required="required" th:min="1" maxlength="15" value="Population"/>
    </div>

    <div class="row">
        <a th:href="@{/cities}" href="cities.html"><img alt="Back" th:src="@{/images/back.png}"/></a>
        <button type="submit"><img alt="Save" th:src="@{/images/save.png}"/></button>
    </div>
</form>
</body>
</html>